@media (min-width: 1380px) {
    .challenge__row .col-xl-11 {
        flex: 0 0 83%;
        max-width: 83%;
    }
}

@media(max-width: 1280px) {
    .challenge-friend-inner {
        padding: 0px 80px;
    }
    .challenge-friend-inner a.game-box {
        margin: 0 25px;
    }
}

@media(max-width: 1199px) {
    .challenge-friend-inner a.game-box {
        margin: 0 25px;
    }
    .challenge-left {
        width: 100%;
        border-radius: 0;
    }
    .challenge-right {
        padding: 60px 0;
    }
    .challenge-right p,
    .player-2.image-center-user p {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width: 1024px) {
    .challenge-friend-inner a.game-box {
        margin: 0 5px;
    }
}

@media(max-width: 991px) {
    .challenge-friend .bg-black-radius:before,
    .challenge-friend .bg-black-radius:after {
        background: none !important;
        min-width: 0px
    }
    .challenge-friend-inner {
        padding: 50px 20px;
    }
    .challenge-friend-inner:before {
        display: inline-flex;
        position: static;
    }
    .challenge-step:before {
        min-height: 200px;
    }
    .challenge-friend .container {
        max-width: 100%;
        padding-left: 24px;
        padding-right: 24px;
    }
    .challenge-friend-inner a.game-box {
        margin: 0 10px;
    }
}

@media(max-width: 767px) {
    .challenge-friend-inner .wager-box p {
        min-width: 180px;
        overflow-x: auto;
    }
    .copy-box {
        min-width: 0px;
    }
    .player-details .player-1,
    .player-details .player-2 {
        padding: 20px;
    }
    .player-2.image-center-user h2 {
        font-size: 30px;
    }
    .game-box-inner {
        padding: 0px 0px !important;
    }
}

@media(max-width: 575px) {
    .challenge-friend .bg-black-radius:before,
    .challenge-friend .bg-black-radius:after {
        background: none !important;
        min-width: 0px
    }
    .challenge-friend-inner {
        padding: 30px 30px;
    }
    .challenge-friend-inner h2 {
        font-size: 30px;
        font-weight: 600;
    }
    footer {
        padding: 60px 15px 20px;
    }
    ul.list-inline.soical-ics {
        text-align: center;
        padding-top: 20px;
    }
    ul.list-inline.terms {
        text-align: center;
    }
    .footer-inner h4 {
        padding-top: 10px;
    }
    /* Step 1 */
    .challenge-friend-inner h2 {
        font-size: 20px;
    }
    .wager-box {
        min-width: 0px;
    }
    .challenge-friend-inner .wager-box p {
        min-width: 180px;
        overflow-x: auto;
    }
    .challenge-friend-inner a {
        font-size: 15px;
    }
    .challenge-left {
        padding-top: 80px;
    }
    .game-box-inner {
        padding: 0px 0px !important;
    }
    .modal-body {
        background-color: #1F2333!important;
        border-bottom: none;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
}