/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFD024;
}

a {
    text-decoration: none!important
}

.container {
    max-width: 1280px;
}

header {
    background-color: transparent;
    border-bottom: 1px solid #f1f1f1;
}

header.yellow-bg-head {
    border-bottom: 1px solid rgb(151 151 151 / 10%)
}

.navbar,
.navbar-brand {
    padding: 0;
}

header.yellow-bg-head .btn-signup {
    background-color: #fff;
}

.btn-dropdown-bg-white button {
    background-color: white!important;
}
.btn-dropdown-bg-yellow button {
    background-color: #fcc601!important;
}

.btn-dropdown button {
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    border: none!important;
    border-left: 1px solid black!important;
    padding: 7px 15px;
    box-shadow: none!important;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
}

.btn-signup {
    background-color: #FCC601;
    border-radius: 0;
    padding: 7px 30px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    max-width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.navbar-nav .dropdown-menu {
    position: absolute!important;
}

.btn-signup:hover {
    color: #000;
    text-decoration: none;
}

.btn-nav-dropdown {
    border-radius: 5px 0 0 5px!important;
    -webkit-border-radius: 5px 0 0 5px!important;
    -moz-border-radius: 5px 0 0 5px!important;
    -ms-border-radius: 5px 0 0 5px!important;
    -o-border-radius: 5px 0 0 5px!important;
}

header.yellow-bg-head.header-right .btn-signup {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
}

.time-count span {
    font-size: 20px;
}

footer {
    padding: 60px 0 20px;
    position: relative;
    z-index: 55555;
}

.footer-inner h5 {
    font-size: 22px;
    color: #000;
    font-weight: 300;
    line-height: 35px;
}

.input-subscribe input[type="text"] {
    background-color: #00000003;
    border: none;
    border-bottom: 1px solid rgb(151 151 151 / 10%);
    padding: 15px;
    font-size: 15px;
    color: #fff;
    width: 75%;
}

.input-subscribe button.button-ylow {
    background-color: #fcc601;
    border-radius: 0;
    width: 57px;
    height: 51px;
    border: none;
    cursor: pointer;
    position: relative;
    right: 5px;
}

.input-subscribe input[type="text"]:focus {
    outline: none;
}

.input-subscribe button.button-ylow:focus {
    outline: none;
}

.footer-inner h4 {
    font-size: 17px;
    color: #fcc601;
    font-weight: normal;
}

.footer-inner ul li a {
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    text-decoration: none;
}

.footer-inner ul li a:hover {
    color: #000;
}

.row.last-footer-row {
    border-top: 1px solid rgb(151 151 151 / 10%);
    padding-top: 20px;
}

ul.list-inline.terms {
    margin: 0;
}

ul.list-inline.terms a {
    color: #000;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}

ul.list-inline.soical-ics {
    margin: 0;
    text-align: right;
}

footer.footer-yellow h4 {
    color: #000;
}

footer.footer-yellow .input-subscribe input[type="text"] {
    background-color: rgb(255 255 255 / 50%);
    border-bottom: 1px solid rgb(151 151 151 / 10%);
}

footer.footer-yellow .input-subscribe button.button-ylow {
    background-color: #000;
}

footer.footer-yellow .input-subscribe button.button-ylow img {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
    -ms-filter: brightness(0) invert(1);
    -moz-filter: brightness(0) invert(1);
}

@keyframes mymove {
    0% {
        left: -50px;
    }
    25% {
        left: -70px;
    }
    75% {
        left: -70px;
    }
    100% {
        left: -50px;
    }
}

@keyframes mymove1 {
    0% {
        right: -20px;
    }
    25% {
        right: 20px;
    }
    75% {
        right: 20px;
    }
    100% {
        right: -20px;
    }
}

/*step-1*/

.challenge-friend {
    padding: 80px 0;
}



.challenge-friend .bg-black-radius {
    background: radial-gradient(#545762, #383B46);
    min-height: 600px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.challenge-friend .bg-black-radius:before {
    position: absolute;
    background: url(../public/images/vector-1.png) no-repeat center;
    content: "";
    min-width: 350px;
    min-height: 472px;
    z-index: 2222;
    left: -150px;
    bottom: -18px;
    background-size: 100%;
}

.challenge-friend .bg-black-radius:after {
    position: absolute;
    background: url(../public/images/vector-2.png) no-repeat center;
    content: "";
    min-width: 320px;
    min-height: 445px;
    z-index: 2222;
    right: -140px;
    bottom: -18px;
    background-size: 100%;
}

.challenge-friend-inner {
    padding: 0 175px;
}

.accept-reject,
.game-box-inner {
    padding: 20px 0 !important;
}

.accept-reject.challenge-friend-inner:before,
.reject-challenge.challenge-friend-inner:before {
    display: none;
    min-width: 0px;
    min-height: 0;
}

.challenge-friend-inner h2 {
    font-size: 58px;
    font-weight: 600;
    color: rgb(255 255 255 / 90%);
}

.challenge-friend-inner p {
    color: rgb(255 255 255 / 70%);
    padding: 20px 25px 30px;
    margin: 0;
}
.challenge-friend-inner-p {
    color: rgb(255 255 255 / 70%)!important;
    padding: 20px 25px 30px!important;
    margin: 0!important;
    border: none!important;
}

.challenge-friend-inner a,
.challenge-friend-inner button {
    padding: 15px 30px;
    color: #000;
    background: linear-gradient(#FFE37E, #FED542, #FCC601);
    border-radius: 10px;
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    border: none;
}

.challenge-friend-inner a:hover {
    text-decoration: none;
}

.challenge-friend-inner {
    position: relative;
}

.challenge-friend-inner:before {
    position: absolute;
    min-width: 267px;
    min-height: 285px;
    content: "";
    background: url(../public/images/cup.png) no-repeat top center;
    left: 0;
    right: 0;
    z-index: -1;
    margin: 0 auto;
    top: -70px;
}


/*step-2*/

.challenge-friend-step-1 {
    background: url(../public/images/xtz-foot-logo.png) no-repeat center;
}

.challenge-friend-step-1 .bg-black-radius:before {
    position: absolute;
    background: url(../public/images/step-2-image1.png) no-repeat center;
    content: "";
    min-width: 112px;
    min-height: 576px;
    z-index: 2222;
    left: -50px;
    bottom: -18px;
    background-size: 100%;
    /* animation: mymove 5s infinite;
    animation-iteration-count: infinite;
    animation-duration: 2s; */
}

.challenge-friend-step-1 .bg-black-radius:after {
    position: absolute;
    background: url(../public/images/step-2-image2.png) no-repeat center;
    content: "";
    min-width: 138px;
    min-height: 111px;
    z-index: 2222;
    right: -20px;
    bottom: -18px;
    background-size: 100%;
    bottom: -40px;
    /* animation: mymove1 5s infinite;
    animation-iteration-count: infinite;
    animation-duration: 2s; */
}

.challenge-friend-inner-step-1 {
    position: relative;
}

.challenge-friend-inner-step-1:before {
    position: absolute;
    min-width: 267px;
    min-height: 285px;
    content: "";
    background: url(../public/images/wallet-image.png) no-repeat top center;
    left: 0;
    right: 0;
    z-index: -1;
    margin: 0 auto;
    top: 80px;
}

.challenge-friend-inner-step-1 h2 {
    font-size: 30px;
}

.tab-dots-step a {
    background: transparent;
    padding: 0;
    width: 8px;
    height: 8px;
    background-color: #8E8E8E;
    box-shadow: none;
}

.tab-dots-step li.active a {
    background-color: #FCC601;
}

.tab-dots-step li {
    margin: 0 5px;
}

.tab-dots-step h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: #FCC601;
    font-weight: 600;
    letter-spacing: 5px;
    padding-bottom: 45px;
}

.tab-dots-step ul {
    padding: 0;
}

.close-icon {
    position: absolute;
    right: 30px;
    top: 30px;
}

.challenge-friend-inner-step-2:before {
    display: none;
}

.challenge-friend-inner-step-2 h2 {
    font-size: 30px;
}

.challenge-friend-inner button.game-box {
    position: relative;
    height: 96px;
    border-radius: 16px;
    background-image: linear-gradient(to right, #535663, #3e414c);
    margin: 0 25px;
    min-width: 180px;
    border: none;
}

.game-selection {
    margin-top: 55px;
}

.challenge-friend-inner button.game-box p {
    position: absolute;
    bottom: -28px;
    padding: 0;
    font-size: 16px;
    color: rgb(252 198 1 / 60%);
    font-weight: 300;
}

.challenge-friend-inner button.game-box.active {
    background-image: linear-gradient(to right, #FCC601, #FC8401);
}

.hover-game-box {
    position: absolute;
    top: 50%;
    opacity: 0;
    transition: 0.3s ease-in;
    transform: translateY(-50%) scale(0.5);
}

.challenge-friend-inner button.game-box.active:hover .hover-game-box {
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

.wager-box {
    position: relative;
    background-color: rgb(54 56 62);
    padding: 0;
    border: 1px solid rgb(255 255 255 / 30%);
    border-radius: 10px;
    outline: none;
    text-align: left;
    padding: 9px 15px;
    min-width: 363px;
    height: 64px;
    display: flex;
    align-items: center;
}

.wager-box input {
    background-color: rgb(54 56 62);
    padding: 0;
    border: none;
    outline: none;
    text-align: left;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    max-width: 206px;
    color: white;
}

.wager-box h4 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: rgb(255 255 255 / 30%);
    font-weight: 300;
    margin: 0;
    padding-right: 15px;
}

.challenge-friend-inner .wager-box p {
    padding: 0;
}

.set-wager-amount p {
    padding: 15px 0 45px;
    color: rgb(255 255 255 / 50%);
}

.set-wager-amount {
    padding-top: 25px;
}

.challenge-friend-inner a.copy {
    background: transparent;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.copy-box p {
    color: #18A0FB;
}

.copy-box {
    max-width: 581px;
}

.share-icon a {
    background: transparent;
    padding: 0;
    margin-left: 15px;
}

.set-copy-amount {
    margin-bottom: 50px;
}

.fourthStepTimer {
    margin-top: 34px;
    padding: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.445);
}

.fourthStepTimer span {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    color: white;
}
.fourthStepTimer span span {
    color: #fcc601;
    font-weight: 600;
}

#progressBar {
    border: 1px solid rgb(255 255 255 / 30%);
    width: 90%;
    border-radius: 5px;
    margin: 40px auto 0;
    height: 35px;
    background-color: transparent;
    position: relative;
}

#progressBar div {
    height: 100%;
    text-align: center;
    width: 0;
    background-color: #35D67D;
    box-sizing: border-box;
    border-radius: 5px;
}

#progressBar p {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    font-size: 15px;
}

#progressBar p #timer {
    font-weight: 700;
}

.challenge-left {
    background-color: rgb(17 17 17 / 50%);
    padding: 40px 25px;
    border-radius: 20px 0 0 20px;
}

.challenge-left h4 {
    font-size: 32px;
    color: #fff;
    font-weight: 800;
}

.challenge-left img,
.accept-reject img {
    padding: 40px 0 20px;
}

.challenge-left ul {
    padding: 0;
    margin: 0;
}

.challenge-left ul li {
    list-style: none;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    padding: 25px 0;
}

.challenge-left ul li span {
    display: block;
    font-size: 16px;
    color: rgb(255 255 255 / 50%);
    font-weight: 600;
}

.player-details {
    width: 100%;
}

.player-details .player-1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 35px;
}

.player-details .player-2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 35px;
}

.player-details h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
}

button.unsign-btn {
    background-color: red;
    display: inline-block;
    padding: 8px 50px;
    color: #000;
    background: linear-gradient(#FFE37E, #FED542, #FCC601);
    border-radius: 10px;
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0 4px 0px 0px #f1a400;
    border: none;
}

button.p2--button:disabled {
    background: #7D7D7D!important;
    box-shadow: none;
}

.p2--info {
    max-width: 185px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 14px;
    color: #FFFFFFB2;
    margin-top: 11px;
}

span.signed-btn {
    color: #31D07D !important;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 20px;
}

.signColor {
    color: #31D07D !important;
}

.player-details button.signed-btn img {
    margin-right: 5px;
    min-width: inherit;
}

.player-details h2 {
    font-size: 60px;
    font-weight: 800;
    color: #fff;
}

.player-details p {
    font-size: 15px;
    color: #fff;
}

.challenge-right p {
    text-align: center;
    font-size: 15px;
    color: #FFE172;
    margin: 80px 77px 0;
    padding: 10px;
    border: 1px solid #FFE172;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.challenge-right {
    margin: 0 auto;
}

.player-2.image-center-user h2 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 40px;
}

.player-2.image-center-user p {
    padding: 10px 160px 0;
    font-size: 18px;
}

.image-user {
    position: relative;
}

.image-user h3 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 14px;
}

.player-2.image-center-user h4 {
    text-transform: uppercase;
    color: #31D07D;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.player-2.image-center-user p a {
    color: #18A0FB;
    text-decoration: underline;
}

.player-2.image-center-user p a:hover {
    color: #ffd024;
}

button.awaiting-btn {
    color: #FCC601 !important;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 15px;
}

.player-img-border {
    border: 2px solid #FACA1B!important;
    border-radius: 10px!important;
    -webkit-border-radius: 10px!important;
    -moz-border-radius: 10px!important;
    -ms-border-radius: 10px!important;
    -o-border-radius: 10px!important;
}

.player-waiting {
    color: #FACA1B;
    font-family: 'Poppins';
    font-weight: 600;
    max-width: 176px;
    text-align: center;
    margin-top: 13px;
    position: relative;
}

.bar-loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 60px;
}
@keyframes loading1 {
    0% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
    }
    33% {
        transform: scaleY(1.5);
        -webkit-transform: scaleY(1.5);
        -moz-transform: scaleY(1.5);
        -ms-transform: scaleY(1.5);
        -o-transform: scaleY(1.5);
    }
}
@keyframes loading2 {
    33% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
    }
    66% {
        transform: scaleY(1.5);
        -webkit-transform: scaleY(1.5);
        -moz-transform: scaleY(1.5);
        -ms-transform: scaleY(1.5);
        -o-transform: scaleY(1.5);
    }
}
@keyframes loading3 {
    66% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
    }
    99% {
        transform: scaleY(1.5);
        -webkit-transform: scaleY(1.5);
        -moz-transform: scaleY(1.5);
        -ms-transform: scaleY(1.5);
        -o-transform: scaleY(1.5);
    }
}
.bar-loader {
    height: 30px;
    width: 10px;
    border-radius: 1px;
    background-color: #FCC801;
    margin: 0 4px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}
.bar-loader-1{
    animation: loading1 0.9s infinite ease;
    -webkit-animation: loading1 0.9s infinite ease;
    background-color: #caa200;

}
.bar-loader-2{
    animation: loading2 0.9s infinite ease;
    -webkit-animation: loading2 0.9s infinite ease;
    background-color: #ebbc01;

}
.bar-loader-3{
    animation: loading3 0.9s infinite ease;
    -webkit-animation: loading3 0.9s infinite ease;
}
.player-details .player-2 img {
    max-width: 176px;
    margin: 0 auto;
}

.player-details .player-1 img {
    max-width: 176px;
    margin: 0 auto;
}
.challenge-accept-loader-container {
    color: white;
    font-family: 'Poppins';
    font-size: 13px;
    left: 0px;
    right: 0px;
}
.challenge-accept-loading-bar-container{
    position: relative;
    height: 6px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@keyframes loading-bar {
    2% {
        width: 2%;
    }
    30% {
        width: 30%;
    }
    70% {
        width: 70%;
    }
    100% {
        width: 99%;
    }
}
.challenge-accept-loading-bar {
    width: 0%;
    position: absolute;
    background: white;
    inset: 0;
    animation: loading-bar 30s ease forwards;
    -webkit-animation: loading-bar 30s ease forwards;
}

button.reject-btn {
    background: transparent;
    border: 1px solid #fff;
    display: inline-block;
    padding: 8px 50px;
    color: #000;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.player-journey {
    position: absolute;
    right: 20px;
}

.player-journey a {
    padding: 15px 25px;
    background-color: #fff;
    border-radius: 50px;
    display: block;
    font-size: 18px;
    margin: 25px 0;
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

.challenge-friend-inner-step-1.connect-wallet:before {
    top: -50px;
}

button.await-btn {
    background: #918D8D;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

a:hover {
    color: black;
}

.hideDiv {
    display: none;
}
.hidden {
    visibility: hidden;
}

.progress-div {
    background-color: rgb(233, 233, 233);
    border-radius: .5rem;
}

.progress {
    background-color: rgb(62, 122, 235);
    height: 10px;
    border-radius: 1rem;
}


.animating__box-animation {
    animation: box__width-animation 1s linear 1;
    -webkit-animation: box__width-animation 1s linear 1;
    -moz-animation: box__width-animation 1s linear 1;
    -o-animation: box__width-animation 1s linear 1;
  }
  @keyframes box__width-animation {
    from {
      width:0%;
    }
    to {
      width:100%;
    }
  }
  @-webkit-keyframes box__width-animation {
    from {
      width:0%;
    }
    to {
      width:100%;
    }
  }
  @-moz-keyframes box__width-animation {
    from {
      width:0%;
    }
    to {
      width:100%;
    }
  }
  @-ms-keyframes box__width-animation {
    from {
      width:0%;
    }
    to {
      width:100%;
    }
  }
  @-o-keyframes box__width-animation {
    from {
      width:0%;
    }
    to {
      width:100%;
    }
  }
  
  .animating__box-content {
    animation: box__content-fade 2s linear 1;
    -webkit-animation: box__content-fade 2s linear 1;
    -moz-animation: box__content-fade2 2s linear 1;
    -o-animation: box__content-fade 2s linear 1;
  }
  @keyframes box__content-fade {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    90% {
      opacity: 0.50;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes box__content-fade {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    90% {
      opacity: 0.50;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes box__content-fade {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    90% {
      opacity: 0.50;
    }
    100% {
      opacity: 1;
    }
  }
  @-ms-keyframes box__content-fade {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    90% {
      opacity: 0.50;
    }
    100% {
      opacity: 1;
    }
  }
  @-o-keyframes box__content-fade {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    90% {
      opacity: 0.50;
    }
    100% {
      opacity: 1;
    }
  }

.landing--modal--bg {
    background-color: #1F2333!important;
    background: url('../public/images/Group\ 1443.png') no-repeat;
    background-position: top;
    /* background-size: contain; */
    max-width: 698px!important;
    /* height: 568px; */
    border: none!important;
    border-radius: 20px!important;
    -webkit-border-radius: 20px!important;
    -moz-border-radius: 20px!important;
    -ms-border-radius: 20px!important;
    -o-border-radius: 20px!important;
}
.modal-header {
    border: none!important;
}
.modal-body {
    padding: 3rem!important;
    padding-top: 0rem!important;
    margin-top: 7rem!important;
}
.modal-header .btn-close {
    width: 40px;
    height: 40px;
    background-color: #fff!important;
    padding: 0px !important;
    margin: 0px !important;
    opacity: 1!important;
    background: url('../public/images/closebtnmodal.png') no-repeat center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.landing--modal--title {
    color: white;
    font-family: Poppins;
    font-size:  2rem;
    font-weight: 600;
}
.landing--modal--info {
    margin-top: 10px;
    margin-bottom:30px;
    color: #FFFFFFB2;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-align: left;
    max-width: 403px;
}
.landing--modal--info a {
    color: #FFFFFFB2!important;
    text-decoration: underline!important;
}
.landing--modal--btn {
    margin-right: 28px;
    background: linear-gradient(92.97deg, #FFDC5E 0.13%, #FCC601 99.87%);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #1F2333!important;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.landing--modal--hashtag {
    margin-top: 30px;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #FFFFFFB2;
}


.contract-signing-dialog-modal {
    width: 468px!important;
}
.contract-signing-content-modal {
    background-color: #242424!important;
}
.contract-signing-header-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 24px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.contract-signing-title-modal {
    font-size: 15px!important;
    display: flex;
    align-items: center;
    margin-bottom: 0!important;
}
.contract-signing-body-modal {
    margin: 140px auto;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}
.contract-signing-body-modal div {
    font-size: 28px;
}
.contract-signing-body-modal-stage {
    font-size: 16px!important;
}
.contract-signing-footer-modal {
    padding: 19px 24px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #CCC;
}
.contract-signing-resend {
    font-weight: 600;
    margin-top: 4px;
    cursor: pointer;
}

.signing-loader-container {
    position: relative;
    height: 6px;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@keyframes slide{
    0%{
        -webkit-transform:translateX(-75%);
        transform:translateX(-75%);
        -moz-transform:translateX(-75%);
        -ms-transform:translateX(-75%);
        -o-transform:translateX(-75%);
    }
    50%{
        -webkit-transform:translateX(175%);
        transform:translateX(175%);
        -moz-transform:translateX(175%);
        -ms-transform:translateX(175%);
        -o-transform:translateX(175%);
        }
    to{
        -webkit-transform:translateX(-75%);
        transform:translateX(-75%);
        -moz-transform:translateX(-75%);
        -ms-transform:translateX(-75%);
        -o-transform:translateX(-75%);
    }
}

.signing-loader {
    width: 50%;
    position: absolute;
    background: white;
    inset: 0;
    animation: slide 2.5s cubic-bezier(.84,.02,.64,.87) infinite;
    -webkit-animation: slide 2.5s cubic-bezier(.84,.02,.64,.87) infinite;
}